.DS_Store
Thumbs.db
*.log
*.tmp
*.swp
*.swo

node_modules/
frontend/.next/
frontend/out/
frontend/node_modules/
frontend/yarn.lock

__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/
.pytest_cache/
.mypy_cache/
.coverage*
coverage/
htmlcov/
.cache/
.venv/
venv/

.env
**/.env
.env.local
**/.env.local

django_core/staticfiles/
django_core/media/

.idea/
.vscode/

logs/
**/logs/